@font-face {
  font-family: ProductSans;
  src: url(../fonts/Product-Sans-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: white;
  font-family: ProductSans;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
  position: absolute;
}

.card {
  width: auto;
  margin: 0;
  padding: 2.5em;
  font-size: 1.2em;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.half {
  width: 48%;
}

div#teachers {
  display: none;
}

div#duties {
  display: none;
}

div#lesson {
  display: none;
}

#app {
  display: none;
}

button {
  border: 0;
  background: none;
  width: 50%;
  font-family: ProductSans;
}

button:hover {
  background:#e4e4e4;
  border-radius: 2%;
  cursor: pointer;
}

button:active {
  border: 0;
  outline: none;
}

button:focus {
  border: 0;
  outline: none;
}

#random {
  border: 0;
  background:#e4e4e4;
  border-radius: 5.4%;
}

#app-loader {
  display: none;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#app-loader>div {
  display: none;
}

#randomStudentPicker {
  display: none;
  position: fixed; /* Sit on top of the page content */
  
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  padding: 2.5em;
  padding-top: 15%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* Black background with opacity */
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 30px 10px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

nav img {
  height: 100%;
  padding: 0.5em;
  width: auto;
  margin-left: 2em;
}

nav div {
  margin-right: 2em;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.rainbow-text {
  background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;
}

@keyframes rainbow { 
  0%{background-position:0% 50%}
  50%{background-position:100% 25%}
  100%{background-position:0% 50%}
}
