*{
  box-sizing: border-box;
}

@font-face {
  font-family: ProductSans;
  src: url(fonts/Product-Sans-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: ProductSans;
}

#notifyBox {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  width: 70%;
  height: auto;
  margin-bottom: 1em;
  padding: 1em;
}

#notifyBox a {
  font-size: 1.5em;
}

div.center_img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40em;
}
div.center_img img {
  margin: 0;
}

div.center_img p {
  font-size: 48;
  font-family: ProductSans, Arial, Helvetica, sans-serif;
}


